# Ignore data
*.csv
*.npz
data/**/*


# Ignore pycache directories
**/__pycache__/

# Ignore pycache files
*.pyc
*.DS_Store

# Ignore ibynb checkpoints
.ipynb_checkpoints/**/*

# Ignore slurm batch job scripts
*.sbatch
